body {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Nunito Sans', sans-serif;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}
header {
	border-bottom: 1px solid #DEDEDE;
}
.header {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 26px 0;
}
.header-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-basis: 68.5%;
}
.header-logo {
	display: block;
	background-image: url(../images/logo.svg);
	width: 176px;
	height: 56px;
	background-repeat: no-repeat;
	background-size: contain;
}
.header-nav {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	gap: 46px;	
}
.header-nav a {
	font-weight: 600;
	font-size: 20px;
	color: #443737;
	text-decoration: none;
	transition: 0.2s;
}
.header-nav a:hover {
	color: #FFC725;
}
.header-nav a::after {
	content: "";
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background: transparent;
	display: block;
}
.header-nav a.active::after {
	background: #FFC725;
}
.button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 0;
	gap: 10px;
	cursor: pointer;
}
.button-item {
	position: relative;
}
.button-count {
	font-weight: 700;
	font-size: 13px;
	color: #FFFFFF;
	background: #F37335;
	border-radius: 100%;
	position: absolute;
	width: 17px;
	height: 17px;
	text-align: center;
	line-height: 1.3;
	bottom: 3px;
	right: -4px;
}
.button-text {
	color: #443737;
	font-weight: 700;
	font-size: 15px;
}
.bg {
	text-align: center;
	color: #FFFFFF;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 57px 0;
	margin-bottom: 140px;
}
.breadcrumbs {
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 7px;
}
.breadcrumbs a {
	color: #DEDEDE;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	transition: 0.2s;
}
.breadcrumbs a:hover {
	color: #FFC725;
}
.breadcrumbs a::before {
	content: "/";
	position: relative;
	left: -3px;
	pointer-events: none;
}
.breadcrumbs a:hover::before {
	color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
	display: none;
}
.title {
	font-size: 79px;
	font-weight: 700;
	margin-top: 16px;
	margin-bottom: 19px;
}
.description {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #FAF9F9;
	max-width: 320px;
	margin: 0 auto;
}
.banner-box {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: 0 center;
	padding: 100px 100px 120px;
	margin-bottom: 80px;	
}
.banner-title {
	font-weight: 900;
	font-size: 60px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 12px;
}
.banner-title span {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: #F37335;
	border-radius: 14px;
	text-align: center;
	text-transform: uppercase;
	padding: 6px 0;
	max-width: 96px;
	margin-bottom: 9px;
}
.banner-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #FAF9F9;
	line-height: 1.6;
	max-width: 353px;
	margin-top: 0;
	margin-bottom: 35px;
}
.banner-link {
	color: #1E2F40;
	font-weight: 700;
	font-size: 14px;
	padding: 18px 25px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #FBB731;
	border: 1px solid #FBB731;
	transition: background .2s linear, color .2s linear;
}
.banner-link:hover {
	background-color: transparent;
	color: #FBB731;
}
.menu {
	padding-top: 20px;
}
.menu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 13px;
}
.menu-title {
	font-weight: 700;
	font-size: 44px;
	color: #1B2A49;
	text-transform: uppercase;
	margin: 0;
}
.menu-select {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	border: 1px solid #DEDEDE;
	padding: 13px 30px;
	border-radius: 22px;
	color: #443737;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	flex-basis: 279px;
	background-image: url(../images/arrow.svg);
	background-size: 12.79px 7.75px;
	background-repeat: no-repeat;
	background-position: 89% center;
	background-color: #FFFFFF;
}
.menu-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px 20px;
	text-align: center;
	margin-bottom: 104px;
}
.menu-grid-cover {
	width: 100%;
	height: 56vw;
	position: relative;
	overflow: hidden;
	margin-bottom: 23px;
}
.menu-grid-cover img {
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-o-object-fit: cover;
	   object-fit: cover;
}
.menu-grid-title {
	color: #1B2A49;
	font-weight: 600;
	font-size: 30px;
	margin: 0;
	
}
.menu-grid-price {
	font-weight: 700;
	font-size: 20px;
	color: #979797;
	margin-top: 8px;
	margin-bottom: 22px;
}
.menu-grid-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FBB731;
	border: none;
	color: #1E2F40;
	gap: 12px;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 0 auto;
	cursor: pointer;
	transition: background .2s linear, color .2s linear;
}
.menu-grid-btn:hover {
	background-color: #F37335;
	color: #FFFFFF;
	padding: 10px 30px;	
}
.menu-grid-icon {
	background-image: url(../images/cart-menu.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 18px;
	height: 18px;
}
.menu-grid-text {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #1E2F40;
}
.footer {
	background: #1E2F40;
	color: #fff;
	padding-top: 117px;
	padding-bottom: 106px;
}
.footer-box {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.footer-logo {
	width: 63px;
	height: 56px;
}
.footer-item h2 {
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 19px;
	margin-top: 0;
	line-height: 1.5;
}
.footer-list li {
	margin-bottom: 9px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #FAF9F9;
	font-weight: 700;
	line-height: 24px;
}
.footer-list a {
	color: #DEDEDE;
	text-decoration: none;
	font-weight: 400;
	transition: 0.2s;
}
.footer-item span {
	color: #DEDEDE;
	display: block;
	font-weight: 400;
	margin-bottom: 2px;
}
.footer-list-tel {
	margin-top: 0;
}
.footer-list-tel li {
	margin-bottom: 12px;
}
.footer-list-tel a {
	font-size: 20px;
	font-weight: 900;
	color: #FBB731;
	transition: 0.2s;	
}
.footer-list.footer-list-tel a:hover {
	color: #FFFFFF;
}
.footer-list {
	padding-left: 0;
	padding-top: 3px;
	list-style-type: none;	
}
.footer-list a:hover {
	color: #FBB731;
}

.button-up {
	color: #1E2F40;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #FBB731;
	text-decoration: none;
	padding: 5px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 5px;
	transition: 1s;
}
.button-up:hover {
	background-color: #F37335;
}
.button-up.hidden {
	opacity: 0;
}
.button-up.visible {
	opacity: 1;
}
/* Style INDEX */

.main {
	padding: 0 15px;
	background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.content {
	color: #FAF9F9;
	flex: 0 0 580px;
	padding: 170px 0;
}
.content-title {
	font-size: 120px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 120px;
	margin-top: 0;
	margin-bottom: 0;
}
.content-title span {
	color: #FBB731;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	display: block;
	margin-bottom: 10px;
}
.content-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	line-height: 1.4;
	margin-bottom: 42px;
}
.content-link,
.promo a {
	color: #1E2F40;
	background-color: #FBB731;
	border-radius: 5px;
	text-decoration: none;
	padding: 20px 45px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}
.visual {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.visual-bg {
	width: 432px;
	height: 100%;
	background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
	width: 829px;
	position: absolute;
	right: -168px;
}
.promo {
	padding-top: 186px;
	padding-bottom: 46px;
}
.promo-left,
.promo-right {
	flex: 0 0 49%;
	color: #fff;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.promo-left {
	background-image: url(../images/promo-left.png);
	padding: 116px 50px;
}
.promo-right {
	background-image: url(../images/promo-right.png);
	padding: 102px 50px;
}
.sale {
	font-size: 14px;
	font-weight: 900;
	background: #F37335;
	padding: 5px 19px;
	border-radius: 14px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 3px;
	margin-top: 0;
}
.cost {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 8px;
	margin-top: 0;
}
.promo-description {
	font-family: 'Open Sans', sans-serif;
	color: #FAF9F9;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 0;
}
.promo-left .promo-description {
	max-width: 392px;
}
.promo-right .promo-description {
	max-width: 300px;
	margin-bottom: 20px;
}
.free {
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 0;
}
.footer {
	margin-top: 185px;
}

@media (max-width: 1000px) {
	.content-title {
		font-size: 100px;
	}
}

/* Modal */

.burger {
	width: 34px;
	height: 22px;
	background-color: transparent;
	background-image: url("../images/menu.svg");
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
}

#modal {
	max-width: 500px;
	background-color: cornsilk;
	text-align: center;
	position: absolute;
	top: -400px;
	left: 0;
	right: 0;
	margin: 20px auto 0;
	transition: 0.5s;
	padding: 40px 30px;
	box-sizing: border-box;
}

#modal .header-nav {
	flex-direction: column;
	max-width: 300px;
	margin: 0 auto;
	align-items: center;
}

.burger-close {
	width: 22px;
	height: 22px;
	background-color: transparent;
	background-image: url("../images/close.svg");
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
}


/* Responsive */

@media (min-width: 1001px) {
	.footer-list + .footer-list-tel {
		display: none;
	}
}

@media (min-width: 766px) {
	.header-burger {
		display: none;
	}
}

@media (max-width: 1000px) {
	.container {
		max-width: 738px;
	}
	.header-logo {
		width: 150px;
		height: 48px;
		background-size: contain;
	}
	.header-nav {
		gap: 22px;
	}
	.header-item {
		flex-basis: 75%;
	}
	.bg {
		margin-bottom: 72px;
	}
	.banner-box {
		background-position: -80px center;
		padding: 100px 40px 120px;
	}
	.menu-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 50px 15px;
	}
	.menu-other {
		overflow: hidden;
		height: 558px;
	}
	.menu-other .menu-grid {
		display: flex;
		width: auto;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: 50px;
	}
	.menu-other .menu-grid-item {
		flex: 0 0 281px;
	}
	.menu-other .menu-grid-cover,
	.menu-other .menu-grid-cover img {
		height: 320px;
	}
	.footer-tel {
		display: none;
	}
	.footer-list + .footer-list-tel {
		display: block;
	}
}

@media (max-width: 765px) {
	nav {
		display: none;
	}
	.header {
		gap: 21px;
	}
	.menu-other .container {
		padding-right: 0;
	}
	.button-up.visible {
		display: none;
	}
}

@media (max-width: 567px) {
	.header {
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.header-logo {
		width: 116px;
		height: 37px;
	}
	.breadcrumbs a {
		font-size: 14px;
	}
	.bg {
		margin-bottom: 33px;
	}
	.description {	
		font-size: 12px;
	}
	.title {
		font-size: 38px;
		font-weight: 700;
	}
	
	.banner-box {
		background-position: 17% center;
		padding: 35px 24px 54px;
		margin-bottom: 40px;
	}
	.menu-title {
		font-size: 27px;
	}
	.menu-select {
		flex-basis: 136px;
		padding: 13px 24px 13px 15px;
		font-size: 12px;
		background-position: 91% center;
	}
	.menu-header {
		margin-bottom: 30px;
	}
	.menu-grid {
		gap: 25px 15px;
		margin-bottom: 40px;
	}
	.menu-grid-cover {
		height: 56vw;
		margin-bottom: 10px;
	}
	.menu-grid-cover img {
		height: 100%;
	}
	.menu-grid-title {
		font-size: 15px;
	}
	.menu-grid-price {
		font-size: 16px;
		margin-top: 6px;
		margin-bottom: 14px;
	}
	.menu-grid-btn {
		padding: 10px 30px;
	}
	.menu-other {
		height: 100vw;
	}
	
	.menu-other .menu-grid {
		padding-bottom: 24vw;
	}
	.menu-other .menu-grid-cover {
		height: 56vw;
	}
	.menu-other .menu-grid-cover img {
		height: 100%;
	}
	.menu-other .menu-grid-item {
		flex: 0 0 38vw;
	}
	.footer {
		margin-top: 20px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.footer-list + .footer-list-tel {
		display: none;
	}
	.footer-tel {
		display: block;
	}
	.footer-box {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-areas: "logo tel" "link link" "info info";
		gap: 0;
	}
	.footer-item:nth-child(1) {
		grid-area: logo;
	}
	.footer-item:nth-child(2) {
		grid-area: link;
	}
	.footer-item:nth-child(3) {
		grid-area: info;
	}
	.footer-tel {
		grid-area: tel;
		text-align: right;
	}
}

@media (max-width: 400px) {
	.menu-other {
		height: 76vh;
	}
}
@media (max-width: 360px) {
	.header-logo {
		width: 116px;
		height: 37px;
		background-size: contain;
	}
	.menu-grid-title {
		font-size: 13px;
	}
	.menu-grid-btn, 
	.menu-grid-btn:hover {
		padding: 8px 16px;
	}
}	

@media (max-width: 320px) {
	.header-logo {
		width: 116px;
		height: 37px;
		background-size: contain;
	}
	.button {
		padding-right: 0px;
		margin-right: -15px;
	}
	.bg {	
		padding: 26px 1px;
	}
	.breadcrumbs {
		margin-top: 24px;
		margin-bottom: 20px;
	}
	.bg .title {
		margin-bottom: 13px;
	}
	.banner-box {
		background-position: 25% center;
		margin-bottom: 30px;
	}
	.menu-grid-cover {
		height: 180px;
	}
	.menu-grid {
		margin-bottom: 30px;
	}
	.footer {
		margin-top: 20px;
	}
	.footer-item h2 {
		font-size: 18px;
		font-weight: 800;
		margin-top: 25px;
	}
	.footer-list a {
		font-size: 15px;
		font-weight: 400;
	}
	.footer-list-tel a {
		font-size: 18px;
		font-weight: 800;
	}
}
