body {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Nunito Sans', sans-serif;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}
header {
	border-bottom: 1px solid #DEDEDE;
}
.header {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 26px 0;
}
.header-logo {
	display: block;
	background-image: url(../images/logo.svg);
	width: 176px;
	height: 56px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-nav {
	list-style-type: none;
	display: flex;
	padding-left: 0;
	gap: 80px;
	line-height: 1.2;
}
.header-nav a {
	font-weight: 600;
	font-size: 20px;
	color: #443737;
	text-decoration: none;
	gap: 40px
}
.header-nav a:hover {
	color: #FFC725;
}
.header-nav a::after {
	content: "";
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	background: transparent;
	display: block;
}
.header-nav a.active::after {
	background: #FFC725;
}
.button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 0;
	gap: 10px;
	cursor: pointer;
}
.button-item {
	position: relative;
}
.button-count {
	font-weight: 700;
	font-size: 13px;
	color: #FFFFFF;
	background: #F37335;
	border-radius: 100%;
	position: absolute;
	width: 17px;
	height: 17px;
	text-align: center;
	line-height: 1.3;
	bottom: 3px;
	right: -4px;
}
.button-text {
	color: #443737;
	font-weight: 700;
	font-size: 15px;
}
.bg {
	text-align: center;
	color: #FFFFFF;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 142px 0;
	margin-bottom: 140px;
}
.breadcrumbs {
	padding: 0px;
	margin-top: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 7px;
}
.breadcrumbs a {
	color: #DEDEDE;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.breadcrumbs a:hover {
	color: #FFC725;
}
.breadcrumbs a::before {
	content: "/";
	position: relative;
	left: -3px;
	pointer-events: none;
}
.breadcrumbs a:hover::before {
	color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
	display: none;
}
.title {
	font-size: 79px;
	font-weight: 700;
	margin-top: 16px;
	margin-bottom: 19px;
}
.description {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	font-size: 15px;
	color: #FAF9F9;
	max-width: 320px;
	margin: 0 auto;
}
.banner-box {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: center center;
	padding: 100px 100px 120px;
	margin-bottom: 100px;	
}

.banner-title {
	font-weight: 900;
	font-size: 60px;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 7px;
}
.banner-title span {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600px;
	background-color: #F37335;
	border-radius: 14px;
	text-align: center;
	text-transform: uppercase;
	padding: 6px 0;
	max-width: 95px;
	margin-bottom: 4px;
}
.banner-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #FAF9F9;
	line-height: 1.8;
	max-width: 328px;
	margin-top: 0;
	margin-bottom: 31px;
}
.banner-link {
	color: #1E2F40;
	font-weight: 700;
	font-size: 14px;
	padding: 20px 25px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #FBB731;
}
.menu-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 44px;
}
.menu-title {
	font-weight: 700;
	font-size: 44px;
	color: #1B2A49;
	text-transform: uppercase;
	margin-bottom: 34px;
	
}
.menu-select {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	border: 1px solid #DEDEDE;
	padding: 13px 30px;
	border-radius: 22px;
	color: #443737;
	appearance: none;
	flex-basis: 279px;
	background-image: url(../images/arrow.svg);
	background-size: 12.79px 7.75px;
	background-repeat: no-repeat;
	background-position: 89% center;
}
.menu-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px 20px;
	text-align: center;
	margin-bottom: 100px;
}
.menu-grid-item {
	margin-top: px;
}
.menu-grid-cover {
	width: 100%;
	height: 430px;
	position: relative;
	overflow: hidden;
}
.menu-grid-cover img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
.menu-grid-title {
	color: #1B2A49;
	font-weight: 600;
	font-size: 30px;
	margin-top: 22px;
}
.menu-grid-price {
	font-weight: 700;
	font-size: 20px;
	color: #979797;
	margin-bottom: 20px;
	margin-top: -25px;
}
.menu-grid-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FBB731;
	border: none;
	gap: 12px;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 0 auto;
}
.menu-grid-icon {
	background-image: url(../images/cart-menu.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 18px;
	height: 18px;
}
.footer {
	background: #1E2F40;
	color: #fff;
	padding-top: 117px;
	padding-bottom: 106px;
}
.footer-box {
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	width: 63px;
	height: 56px;
}
.footer-item {
	flex: 0 0 auto;
}
.footer-item h2 {
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 19px;
	margin-top: 0;
}
.footer-item li {
	margin-bottom: 9px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #FAF9F9;
	font-weight: 700;
	line-height: 24px;
}
.footer-item a {
	color: #DEDEDE;
	text-decoration: none;
	font-weight: 400;
}
.footer-item span {
	color: #DEDEDE;
	display: block;
	font-weight: 400;
	margin-bottom: 2px;
}
.footer-tel ul {
	font-size: 20px;
	font-weight: 900;
	color: #FBB731;
	margin-top: 0;
}
.footer-tel li {
	margin-bottom: 12px;
}
.footer-list {
	padding-left: 0;
	padding-top: 3px;
	list-style-type: none;
}


